body{
  background-color: #f8f8f8 !important;
  font-family: 'Almarai', sans-serif !important;
}
.st{
  position: fixed !important;
  width:100%;
  top:0;
  z-index:111;
}

.foods{
  text-align: center;
  width:90%;
  margin:auto;
}
.line{
  width:10%;
  height: 3px;
  background-color: #b45b35;
  margin: auto;
}
.btns .btn{
  border: 1px solid #b45b35 !important;
  margin:5px;
}
.btns .btn:hover{
  background-color: #b45b35;
  font-weight: 700;
}
.imgele{
  width:150px !important;
  height: 150px;
}
.card{
  margin-top:15px;
}